div#supra {
    background-image: linear-gradient(to bottom, ivory 0%, slategrey 6%, black 12%);
}

div {
    font-family: Futura-Medium-01;
    color: ivory;
}

div.item {
    font-size: 20px;
}

div#mainGrid {
    height: 100vh;
    /* boder: 1px solid ivory; */
}

div#focusContainer {
    text-align: center;
    height: 85vh;
    border: 1px;
    border-style: solid;
    border-color: ivory;
}

div#sideContainer {
    margin-top: 180px;
    margin-left: 20px;
    margin-right: 20px;
    height: 40vh;
    text-align: center;
    top: 50%;
    border: 1px;
    border-style: solid;
    border-color: ivory;
}

div#borderedChatHistory {
    text-align: left;
    border: 1px;
    overflow: scroll;
    height: 70%
}

input{
  background-color: transparent;
  color:ivory;
}


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */



/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
